{
  "sourceMaps": false,
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "ecmascript",
      "classPrivateProperty": true,
      "privateMethod": true
    },
    "target": "es3",
    "minify": {
      "compress": true,
      "mangle": true
    },
    "transform": {}
  },
  "minify": true
}
